//
@import "./partials/reset";
@import "./partials/vars";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/footer";

* {
    border: 1px solid tomato;

    overflow-y: hidden;
}

:root {
    @include text;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    
}