//
@import "./partials/reset";
@import "./partials/vars";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/footer";

* {
    border: 1px solid tomato;

    overflow-y: hidden;
}

:root {
    @include text;
}

body {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(87, 87, 87);
    
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;   
        
        grid-column: 2 / 3;
        
    }
}