header {
    margin: 1rem  .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    display: grid;
    grid-column: 2 / 3;

    p{
        color: tomato;
    }
    h1 {
        color: $white;
        @include h1;
    }
    

}