header {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    p{
        color: tomato;
    }
    h1 {
        color: $base-color;
        @include h1;
    }
    

}